.naslov {
  font-size: 2em;
  color: #ffffff;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #565656;
}

.naslov-h {
  font-size: 1.5em;
  color: #ffffff;
  margin: 0;
  padding: 0;
  text-align: center;
}
.footer {
  background-color: #000;
  color: #ffffff;
  text-align: center;
  min-height: 30px;
}

.main {
  min-height: 80vh;
}

.moja-slika {
  height: 800px !important;
  width: 100% !important;
  overflow: hidden;
}